.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.d-flex {
  gap: 10px;
}

.content-screen {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.screen-width {
  max-width: 1280px;
  margin: auto;
}

.form-layout {
  border-radius: 10px;
}

.input {
  background-color: #242b38 !important;
  color: white !important;
}

.input:focus {
  color: white !important;
}

.input::placeholder {
  color: white !important;
}

.post-section {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;/
}

.post-parent{
  height: 94vh;
overflow: hidden;
}

.sigup-login-container {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.post-content {
  width: 100%;
  min-height: 100px;
  font-size: 16px;
  padding: 8px,
}

.comment-section{
  height: 10em;
  overflow: hidden;
}

.comment-input{
  background-color: #212529;
  border: none;
}

.comment-input:focus{
  outline: none;
}
/* .form-control{
  width: 70%;
} */

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}